body{
    background-color: #85963b
}
.buttons{
    display: flex;
    flex-direction: column;
}
.buttons > img{
        height: 200px;
        width: 200px;
}
.footer {
    text-align: center;
}
@media only screen and (min-width: 720px){
    .buttons{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    
}
@media only screen and (min-width: 980px){
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .buttons > img{
        height: 350px;
        width: 350px;
    }
    
}
