body{
    background-image: url(Images/Cork\ Board.png);
}
.buttons{
    display: flex;
    flex-direction: column;
}
.buttons > div{
        height: 200px;
        width: 200px;
}

img { 
    height: 100%
}
.text{
    background-color: white;
    width: 75%;
    height: 50px;
}
.menu{
    padding: 5px;
}
.footer {
    text-align: center;
}

.material-icons:nth-child(even){
    transform: rotate(180deg);
}

#banner{
    width: 50%;
}

*{box-sizing: border-box;}

.button-open {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 200px;
  }

.chat {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid white;
  z-index: 9;
}

.form-container {
  max-width: 225px;
  padding: 15px;
  background-color: #f7f4c5;
  border: 2px ridge white;
}

.form-container > img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: white;
  min-height: 100px;
}


.form-container textarea:focus {
  background-color: white;
  outline: none;
}


.form-container .button {
  background-color: #85963b;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .button-close {
  background-color: #ff1616;
}


.form-container .button-send:hover, .button-open:hover {
  opacity: 1;
}
#cookie-chat{
  font-family:cursive;
}

@media only screen and (min-width: 720px){
    .buttons{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    
}
@media only screen and (min-width: 980px){
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .buttons > div{
        height: 350px;
        width: 350px;
    }
    
}
