body{
    background-image: url(Images/Cork\ Board.png);
}
.buttons{
    display: flex;
    flex-direction: column;
}
.buttons > div{
        height: 200px;
        width: 200px;
}
.buttons > div > img {
    height: 100%
}
.menu{
    padding: 5px;
}
.footer {
    text-align: center;
}

.material-icons:nth-child(even){;
    transform: rotate(180deg)
}

#banner{
    width: 50%;
}
@media only screen and (min-width: 720px){
    .buttons{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    
}
@media only screen and (min-width: 980px){
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .buttons > div{
        height: 350px;
        width: 350px;
    }
    
}
